.items__container .product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.items__container .product-description {
  margin: 0 0 1rem 0;
}

.items__container .product-category {
  font-weight: 600;
  vertical-align: middle;
}

.items__container .product-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border: solid 1px #fff;
  border-radius: 6px;
}

.items__container .product-list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

.items__container .product-list-item .product-list-detail {
  flex: 1 1 0;
}

.price__container {
  margin-bottom: 10px;
  justify-content: flex-end;
  display: flex;
}

.quantity__input input {
  max-width: 70px;
}

.price__value {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .items__container .product-list-item {
    flex-direction: column;
    align-items: center;
  }

  .items__container .product-list-item img {
    width: 75%;
    margin: 2rem 0;
  }

  .items__container .product-list-item .product-list-detail {
    text-align: center;
  }

  .items__container .product-list-item .product-price {
    align-self: center;
  }
}
