.navbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 70px;
  color: #9da3ad;
  padding: 10px;
  width: 100%;
  background-color: #040d19;
  z-index: 1000;
  border-top: #93c5fdad 2px solid;
  border-bottom: #93c5fdad 2px solid;
}
.logo__box {
  flex: 10;
}
.logo {
  width: 70px;
  height: 70px;
  filter: opacity(80%) brightness(80%);
}
.logo:hover {
  filter: opacity(100%) brightness(100%);
}
.cart {
  flex: 1;
}
.icon__cart {
  font-size: 20px !important;
}
.login {
  flex: 1;
}
